/* VARIABLES */
/* IMPORT STYLES */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }
  * body {
    background: #E4E9F7;
    padding: 0 20px; }
    * body .box {
      background-color: #FFFFFF;
      border-radius: 16px;
      position: relative;
      transition: all 0.5s ease;
      margin-top: 22px;
      width: calc(100% - 88px);
      left: 88px; }

@media screen and (max-width: 425px) {
  * body {
    padding: 0 10px; } }

/* SIDEBAR CHECKED*/
input {
  display: none; }
  input:checked ~ .close {
    width: 88px; }
    input:checked ~ .close header .image-text .text {
      opacity: 0; }
    input:checked ~ .close header label .toggle {
      right: -45%;
      transform: translateY(-50%) rotate(180deg); }
    input:checked ~ .close .menu-bar .menu .nav-link a .text {
      opacity: 0; }
    input:checked ~ .close .menu-bar .menu #mode {
      height: 80px;
      width: 40px;
      transition: all 0.5s ease; }
    input:checked ~ .close .social-media-bar {
      width: 100%;
      display: flex;
      align-items: flex-end;
      transition: all 0.5s ease; }
      input:checked ~ .close .social-media-bar .social-media-icons {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin-bottom: 10px; }

/* SIDEBAR STYLE */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 250px;
  padding: 10px 14px;
  background-color: #FFFFFF;
  transition: all 0.5s ease;
  z-index: 100;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-right: 2px solid #4a8bd6; }
  .sidebar header {
    position: relative; }
    .sidebar header .image-text {
      display: flex;
      align-items: center; }
      .sidebar header .image-text .image {
        min-width: 60px;
        display: flex;
        align-items: center;
        justify-content: center; }
        .sidebar header .image-text .image img {
          height: 40px;
          width: 40px;
          border-radius: 6px; }
      .sidebar header .image-text .header-text {
        display: flex;
        flex-direction: column; }
        .sidebar header .image-text .header-text .title-logo {
          font-weight: 600; }
        .sidebar header .image-text .header-text .subtitle-logo {
          margin-top: -2; }
      .sidebar header .image-text .text {
        font-size: 16px;
        font-weight: 500;
        color: #707070;
        transition: var(all 0.4s ease);
        white-space: nowrap; }
      .sidebar header .image-text label .toggle {
        position: absolute;
        right: -12%;
        transform: translateY(-50%);
        height: 25px;
        width: 25px;
        background-color: #4a8bd6;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        color: #FFFFFF;
        font-size: 22px;
        cursor: pointer; }
    .sidebar header .menu-bar .menu {
      padding: 0;
      margin: 0; }
      .sidebar header .menu-bar .menu .nav-link {
        height: 50px;
        margin-top: 10px;
        list-style: none;
        display: flex;
        align-items: center;
        transition: all 0.5s ease; }
        .sidebar header .menu-bar .menu .nav-link a {
          height: 100%;
          width: 100%;
          display: flex;
          align-items: center;
          text-decoration: none;
          border-radius: 6px;
          transition: all 0.5s ease; }
          .sidebar header .menu-bar .menu .nav-link a:hover {
            background-color: #4a8bd6; }
          .sidebar header .menu-bar .menu .nav-link a i {
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 20px;
            min-width: 60px;
            color: #707070; }
          .sidebar header .menu-bar .menu .nav-link a:hover i {
            color: #F6F5FF; }
          .sidebar header .menu-bar .menu .nav-link a .nav-text {
            color: #707070; }
          .sidebar header .menu-bar .menu .nav-link a .text {
            color: #707070;
            transition: all 0.3s ease;
            white-space: nowrap;
            opacity: 1; }
          .sidebar header .menu-bar .menu .nav-link a:hover .text {
            color: #F6F5FF; }
      .sidebar header .menu-bar .menu #mode {
        background-color: #4a8bd6;
        position: relative;
        height: 40px;
        width: 80px;
        cursor: pointer;
        margin: 0 auto;
        margin-top: 10px;
        border-radius: 25px;
        list-style: none;
        transition: all 0.5s ease; }
        .sidebar header .menu-bar .menu #mode .toggle-dark-light {
          position: relative;
          top: 0;
          left: 0;
          height: 40px;
          width: 40px;
          transform: scale(0.7);
          background-color: #FFFFFF;
          border-radius: 25px;
          display: flex;
          justify-content: center;
          align-items: center;
          margin: 0; }
          .sidebar header .menu-bar .menu #mode .toggle-dark-light i {
            color: #4a8bd6; }
          .sidebar header .menu-bar .menu #mode .toggle-dark-light .sun {
            display: none; }
  .sidebar .social-media-bar {
    width: 100%;
    display: flex;
    align-items: flex-end;
    transition: all 0.5s ease; }
    .sidebar .social-media-bar .social-media-icons {
      width: 100%;
      display: flex;
      justify-content: space-around; }
      .sidebar .social-media-bar .social-media-icons a {
        display: flex;
        height: 50px;
        transition: all 0.5s ease;
        text-decoration: none;
        border-radius: 6px; }
        .sidebar .social-media-bar .social-media-icons a i {
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 25px;
          min-width: 60px;
          color: #707070;
          transition: all 0.5s ease; }
        .sidebar .social-media-bar .social-media-icons a:hover i {
          color: #F6F5FF; }
        .sidebar .social-media-bar .social-media-icons a:hover {
          background-color: #4a8bd6; }
        .sidebar .social-media-bar .social-media-icons a input {
          display: none; }

/* HOME */
#home {
  height: 600px; }

/* SHOP */
#shop {
  padding: 22px; }
  #shop .shop-container .search {
    display: inline; }
    #shop .shop-container .search .btn {
      border: 2px solid #4a8bd6;
      background-color: #4a8bd6;
      color: #FFFFFF; }
      #shop .shop-container .search .btn:hover {
        background-color: #FFFFFF;
        color: #4a8bd6; }
  #shop .shop-container .filter-container {
    display: inline;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    flex-flow: wrap;
    margin-top: 22px; }
    #shop .shop-container .filter-container .filter {
      padding: 22px; }
      #shop .shop-container .filter-container .filter input {
        display: none; }
        #shop .shop-container .filter-container .filter input:checked ~ label {
          background-color: #FFFFFF;
          color: #4a8bd6; }
      #shop .shop-container .filter-container .filter label {
        width: 100px;
        border: 2px solid #4a8bd6;
        background-color: #4a8bd6;
        color: #FFFFFF;
        cursor: pointer;
        z-index: 20; }
        #shop .shop-container .filter-container .filter label:hover {
          background-color: #FFFFFF;
          color: #4a8bd6; }
  #shop .shop-container .card-seccion {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap; }
    #shop .shop-container .card-seccion .card {
      height: 500px;
      width: 250px;
      background-color: #E4E9F7;
      margin: 22px 10px 0 10px;
      padding: 22px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      #shop .shop-container .card-seccion .card img {
        width: 80%; }
      #shop .shop-container .card-seccion .card .card-body {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start; }
        #shop .shop-container .card-seccion .card .card-body .card-title {
          font-size: 22px;
          font-weight: 400;
          text-align: center; }
        #shop .shop-container .card-seccion .card .card-body .card-text {
          font-size: 14px;
          font-weight: bold; }
        #shop .shop-container .card-seccion .card .card-body h5 {
          font-size: 14px;
          font-weight: 400;
          text-align: center; }
      #shop .shop-container .card-seccion .card .card-price {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center; }
        #shop .shop-container .card-seccion .card .card-price span {
          font-size: 12px; }
        #shop .shop-container .card-seccion .card .card-price h4 {
          font-size: 20px; }
      #shop .shop-container .card-seccion .card .card-btn {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center; }
        #shop .shop-container .card-seccion .card .card-btn .btn {
          width: 100%;
          background-color: #4a8bd6;
          border: 1px solid #4a8bd6;
          font-weight: bold;
          transition: all 0.5s ease; }
          #shop .shop-container .card-seccion .card .card-btn .btn:hover {
            background-color: #2d629e; }

@media screen and (max-width: 400px) {
  #shop .shop-container .card-seccion .card {
    height: 500px;
    width: 200px; } }
