* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    body {
        background: $color-body;
        padding: 0 20px;
        transition: $tran-02;
        .box {
            background-color: $sidebar-color;
            border-radius: 16px;
            position: relative;
            transition: $tran-04;
            margin-top: 22px;
            width: calc(100% - 88px);
            left: 88px; 
        }
    }
    .dark {
        background: $dark-color-body;
        .box {
            background-color: $dark-sidebar-color;
        }
    }
}

@media screen and (max-width:425px) {

    * {
        body {
            padding: 0 10px;
        }
    }
}